= form_for @item do |f|
  #image-box
    = f.fields_for :images do |image|
      .js-file_group{"data-index" => "#{image.index}"}
        = image.file_field :src, class: 'js-file'
        .js-remove 削除
  .field
    = f.label :商品名
    = f.text_field :name
  .field
    = f.label :値段
    = f.text_field :price
  .field
    = f.label :商品紹介
    = f.text_field :explaination
  .field
    = f.label :商品の状態
    = f.collection_select :condition_id, Condition.all, :id, :name, prompt: "選択して下さい"
  .field
    = f.label :発送までの日数
    = f.collection_select :shipment_id, Shipment.all, :id, :name, prompt: "選択して下さい"
  .field
    = f.label :ブランド
    = f.text_field :brand
  .field
    = f.label :都道府県
    = f.collection_select :prefecture_id, Prefecture.all, :id, :name
  .field
    = f.label :配送料の負担
    = f.collection_select :responsibility_id, Responsibility.all, :id, :name, prompt: "選択して下さい"
  .listing-form-box
    .listing-product-detail__category
      = f.label 'カテゴリー', class: 'listing-default__label'
      %span.listing-default--require 必須
      .listing-select-wrapper
        .listing-select-wrapper__box
          = f.select :category, @category_parent_array, {}, {class: 'listing-select-wrapper__box--select', id: 'parent_category'}
          %i.fas.fa-chevron-down.listing-select-wrapper__box--arrow-down
  = f.submit
